---
layout: layouts/base
metadata:
title: Quinn Smith | Tech Enthusiast
desc: Quinn Smith's portfolio and notes.
---

<aside class="sidebar" data-sidebar>

  <div class="sidebar-info">
    <figure class="avatar-box">
      <img src="./assets/imgs/me-avatar.png" alt="Quinn Smith" width="80">
    </figure>

    <div class="info-content">
      <h1 class="name" title="Quinn Smith">Quinn Smith</h1>
      <p class="title">Leader | Tech Enthusiast</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>

    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>
          <a
            href="#"
            class="contact-link"
            data-contact="ZHJxdWlubnNAb3V0bG9vay5jb20K"
            data-subject="TGV0cyBjb25uZWN0Cg=="
            onfocus="this.href = 'mailto:' + atob(this.dataset.contact) + '?subject=' + atob(this.dataset.subject)">
            Lets connect
          </a>
        </div>

      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>
          <a href="tel:+17065809445" class="contact-link">+1 (706) 580-9445</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Birthday</p>
          <time datetime="03-10">March 10<sup>th</sup></time>
        </div>

      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>
          <address>Georgia, USA</address>
        </div>
      </li>
    </ul>

    <div class="separator"></div>

    <ul class="social-list">
      <li class="social-item"></li>
        <a href="https://www.linkedin.com/in/smithquinn/" class="social-link">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://github.com/Q-Smith" class="social-link">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://www.youtube.com/@DiffusionTinkerer" class="social-link">
          <ion-icon name="logo-youtube"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</aside>


<div class="main-content">

  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item">
        <button class="navbar-link  active" data-nav-link>About</button>
      </li>

    </ul>
  </nav>


  <article class="about active" data-page="about">

    <header>
      <h2 class="h2 article-title">About me</h2>
    </header>
    <section class="about-text">
      <p>
        I have 22+ years of experience in diverse technologies and cultures. Throughout my career I have guided and coached highly skilled technical team members and led them to deliver the most value to the customer and company missions we serve.
        I believe that a #OneTeam sharing the same common vision allows us to reduce risks, maximize velocity and ensure team success.
      </p>

      <p>
        I also love tinkering with technology and I constantly follow a self-learning philosophy by experimenting on my own and reading through various books and websites
      </p>
    </section>

    <section class="service">
      <h3 class="h3 service-title">Core Values</h3>

      <ul class="service-list">
        <li class="service-item">
          <div class="service-icon-box">
            <div class="icon-box">
              <ion-icon name="bulb-outline" size="large"></ion-icon>
            </div>
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Wisdom</h4>
            <p class="service-item-text">
              <i>Having confidence in decision-making; good judgment; keeping perspective.</i><br>
              Wisdom anchors me and keeps me steady when things shift and change.
            </p>
          </div>
        </li>

        <li class="service-item">
          <div class="service-icon-box">
            <div class="icon-box">
              <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
            </div>
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Trust</h4>
            <p class="service-item-text">
              <i>A belief in someone or something.</i><br>
              Our unique traits set us apart -our solidarity unites us. Perfection is not a requirement for my trust. I think people are flawed and make poor decisions when working from places of stress and fear, so I believe in practicing reciprocal grace and forgiveness. Trust is the umbrella for integrity, honesty, authenticity, faith, optimism, and grace.
            </p>
          </div>
        </li>

        <li class="service-item">
          <div class="service-icon-box">
            <div class="icon-box">
              <ion-icon name="rocket-outline" size="large"></ion-icon>
            </div>
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Growth</h4>
            <p class="service-item-text">
              <i>Intellectual, emotional, spiritual, and physical development.</i><br>
              We are always innovating, looking for new ways to shine, solidly perched on past successes, but never satisfied with the status quo. Growth is about the intrinsic desire to become a better version of myself.
            </p>
          </div>
        </li>

        <li class="service-item">
          <div class="service-icon-box">
            <div class="icon-box">
              <ion-icon name="telescope-outline" size="large"></ion-icon>
            </div>
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Curiosity</h4>
            <p class="service-item-text">
              <i>Willingness to explore and learn.</i><br>
              Experience is just the beginning, learning is the key to our success. I love a good evidence base and also deeply value intituon or inner knowing. Being a curious human helps me show up with joy in every season.
            </p>
          </div>
        </li>

        <li class="service-item">
          <div class="service-icon-box">
            <div class="icon-box">
              <ion-icon name="people-outline" size="large"></ion-icon>
            </div>
          </div>

          <div class="service-content-box">
            <h4 class="h4 service-item-title">Accountability</h4>
            <p class="service-item-text">
              <i>Fairness; justice; cause and effect.</i><br>
              Accountability for me fosters better work relationships, improves daily satisfaction, and helps teams work more effectively together. Accountability is about measuring the distance between your intentions and your impact, then taking the necessary steps to close the gap. This requires introspection, honesty, grace, humility, and a sense of personal responsibility to your role in a community and society.
            </p>
          </div>
        </li>
      </ul>
    </section>
  </article>


  <article class="resume" data-page="resume">

    <header>
      <h2 class="h2 article-title">Resume</h2>
    </header>

  </article>

  <article class="blog" data-page="notebook">

    <header>
      <h2 class="h2 article-title">notebook</h2>
    </header>

  </article>

</div>
